.aktuality-wrapper {
  display: grid;
  grid-template-areas: 'prev carousel next';
  grid-template-rows: 1fr;
  grid-template-columns: 80px calc(100vw - 160px) 80px;

  padding: 1em 0;

  .prev {
    grid-area: prev;
  }
  .tns-outer {
    grid-area: carousel;
  }
  .next {
    grid-area: next;
  }

  // @media screen and (max-width: 600px) {
  //   grid-template-areas: 'carousel';
  //   grid-template-columns: 1fr;
  //   .prev,
  //   .next {
  //     display: none;
  //   }
  // }

  .tns-slider {
    display: flex;
    align-items: stretch;
  }
}

.aktualita {
  max-width: 100vw;
  // height: 100%;
  padding: 1em;
  .title {
    margin: 1em 0 0;
    font-size: 1.5em;
  }
  a {
    font-weight: 600;
    &:hover {
      text-decoration: underline;
    }
  }
  .link {
    font-size: 1.1em;
    &:hover {
      text-decoration: underline;
    }
  }
}

.aktualita-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 0.5em;

  font-size: 1em;

  background-color: $background-color-white;
  border-radius: 0.8em;
  box-shadow: $box-shadow;

  $margin: 1rem;
  & {
    padding-bottom: $margin;
  }
  & > :not(.img) {
    margin-right: $margin / 2;
    margin-left: $margin;
  }

  .img {
    width: 100%;
    height: auto;
    
    
    margin-bottom: 0.5em;
    border-radius: 3px;
  }
  p {
    font-size: 0.9em;
  }
}

.aktuality-wrapper .aktualita .img {
  @media (min-width: 640px) {
    max-height: 250px;
  }
}

@media (max-width: 600px) {
  .aktuality-wrapper {
    grid-template-columns: 30px calc(100vw - 60px) 30px;
  }
}
@media (max-width: 700px) {
  .aktuality-wrapper {
    .aktualita, .aktualita-inner {
      height: min-content ;
    }
  }
}
