
  @mixin button($color) {
    margin: 0.2em;
    padding: 0.5em 1em;
    color: $color;
    font-weight: 600;
    font-size: .9rem;
    &.bigger {
      font-size: 1.25rem;
    }
    letter-spacing: 0.07ch;
  
    font-family: "Roboto", sans-serif;
    line-height: normal;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0);
  
    border: 2px solid $color;
    border-radius: 0.15em;
  
    // transition: background 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out
    , border-color 0.2s ease-in-out
    , border 0.2s ease-in-out;
    &:hover,
    &.filled {
      text-decoration: none;
      color: white;
      background-color: $color;
      // border-color: $color;
      // transition: border-color 0.2s ease-in-out;
      &.filled:hover {
        background-color: darken($color, 7);
        border-color: darken($color, 7);
      }
    }
  }
  
  

.button {
 @include button(darken($main-red, 7));
}

.button.green {
  @include button($main-green);
}
