footer {
  display: flex;
  flex-direction: column;
  gap: 4em;
  align-items: center;

  width: 100vw;
  margin: 2em 0 0;
  padding: 1em 0 0.1em;

  font-size: 0.85rem;
  background-color: $main-yellow;
  ul {
    display: flex;
    flex-direction: row;
    gap: max(3em, 10vw);
    align-items: flex-start;
    justify-content: space-around;
    padding: 0 1em;
    list-style-type: none;
    @media (max-width: 700px) {
      flex-direction: column;
      gap: 2em;
      align-items: flex-start;
      align-self: flex-start;
      padding-left: 3em;
    }

    * {
      margin: 0;
    }
  }
  a {
    display: block;
    &:hover {
      text-decoration: underline;
    }
  }
  p > a {
    display: inline;
  }
  li {
    h5 {
      font-size: 1.1em;
    }
    p,
    a {
      font-size: 1em;
    }
  }
  .kontakt,
  .adresa {
    & > * + * {
      margin-top: 0.5em;
      @media (max-width: 700px) {
        margin-top: 0.3em;
      }
    }
  }

  .links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    & > * + * {
      margin-left: 1em;
    }
    a {
      width: 3em;
      svg {
        width: 100%;
        height: auto;
      }
    }
  }
  .signature {
    color: darken(white, 4);
    font-weight: 600;
    a {
      font-weight: 600;
    }
  }
}
