footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include  flexGap(4em,  $column: true);

  width: 100vw;
  margin: 2em 0 0;
  padding: 1em 0 0.1em;

  font-size: 0.85rem;
  background-color: $main-yellow;
  ul {
    display: flex;
    flex-direction: row;
    @include  flexGap(max(3em, 10vw),  $column: false);
    align-items: flex-start;
    justify-content: space-around;
    padding: 0 1em;
    list-style-type: none;
    @media (max-width: 700px) {
      flex-direction: column;
      @include  flexGap(2em,  $column: true);
      align-items: flex-start;
      align-self: flex-start;
      padding-left: 3em;
    }
    & > * {
      // width: 100%;
    }
    * {
      margin: 0;
    }
  }
  a {
    display: block;
    &:hover {
      text-decoration: underline;
    }
  }
  p > a {
    display: inline;
  }
  li {
    h5 {
      font-size: 1.1em;
    }
    p,
    a {
      font-size: 1em;
    }
    & > * + * {
      margin-top: 0.5em;
      @media (max-width: 700px) {
        margin-top: 0.3em;
      }
    }
    
  }
  .signature {
    color: darken(white, 4);
    font-weight: 600;
    a {
      font-weight: 600;
    }
  }
}
