header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    width: 100vw;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 1.5vw;

    .logo {
        position: absolute !important;
        align-self: flex-start;

        margin-top: 0.5em;

        min-width: 60px;
        width: 10vw;
        max-width: 120px;

        height: auto;
    }
    a {
        color: inherit;
        text-decoration: unset;
    }
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    background-color: $main-yellow;
    * {
        color: $main-white !important;
    }
    .dropdown-content {
        background-color: $main-yellow;
    }

    .sm {
        display: none;
    }
}



header nav {
    padding-left: max(100px, 9.5vw);
    ul {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;

        padding: 0;
        margin: 0;

        list-style: none;
        li {
            display: block;
            &::marker {
                display: none;
            }
        }
    }
}

header input[type="checkbox"] {
    width: 0;
    height: 0;
    position: absolute;
    top: -9999px;
}

.dropdown {
    .dropdown-content {
        width: max-content;
        z-index: 50;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        display: block;
    }
    .dropdown-content li {
        z-index: 50;

        width: max-content;
        text-align: left;
        min-width: 100%;
        padding: 0.7em 1em;
        margin: 0;
    }
    label:hover ~ .dropdown-content,
    .dropdown-content:hover {
        visibility: visible;
        opacity: 1;
    }
}

@media screen and (max-width: 920px) {
    header {
        // flex-direction: row-reverse;
        // align-items: flex-start;

        display: grid;
        grid-template-columns: minmax(90px, 1fr) minmax(calc((100vw - 90px) - 50px), 1fr) minmax(50px, 1fr);
        grid-template-rows: 1fr auto;
        place-items: start start;
        grid-template-areas:
            "logo nav   burger"
            "eshop   eshop  eshop";

        .logo {
            grid-area: logo;
        }
        nav {
            grid-area: nav;
        }
        .button {
            grid-area: eshop;
            place-self: center;
        }
        label {
            grid-area: burger;
        }

        background-color: $main-yellow;
        * {
            color: $main-white !important;
        }
        padding: 0 0.5em 0 0;
        .logo {
            margin-top: 0;
            top: 0;
            left: 0;
            
            margin-left: calc(4vw - 16px);
        }

        .sm {
            display: block;
        }
        label {
            cursor: pointer;
            justify-self: flex-end;
            // position: absolute;
            // top: 0;
            // right: 0;
        }

        .eshop-link,
        nav,
        nav > ul,
        .dropdown-content {
            // display: none;
            // transform: translateY(-500px);
            opacity: 0;
            max-height: 0;
            transition: opacity 0.2s ease-out, max-height 0.2s ease;
        }
        .eshop-link {
            display: none;
        }
        input[type="checkbox"]:checked ~ .eshop-link {
            display: block;
        }

        .menu {
            fill: white !important;
        }
        .menu.closed {
            display: block;
        }
        .menu.open {
            display: none;
        }
        input[type="checkbox"]:checked ~ label .menu.closed {
            display: none;
        }
        input[type="checkbox"]:checked ~ label .menu.open {
            display: block;
        }
        input[type="checkbox"]:checked ~ .eshop-link,
        input[type="checkbox"]:checked ~ nav > ul,
        input[type="checkbox"]:checked ~ nav {
            // display: block;
            opacity: 1;
            transform: translateY(0);
            max-height: 100vh;
            // transition: opacity .2s ease, max-height .2s ease;
        }

        nav {
            padding-left: 0;
        }
        nav > ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0;
        }
        .navbar-link {
            width: auto !important;
            min-width: 0px !important;
        }

        .dropdown-content {
            margin-left: 1.5em;

            opacity: 0 !important;
            max-height: 0vh;
            height: auto;
            transition: max-height 0.32s ease;
            //opacity .1s ease-out,
        }
        input[name="dropdown-expand"]:checked ~ .dropdown-content {
            transform: translateY(0);
            display: flex !important;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;

            position: static;
            opacity: 1 !important;
            visibility: visible;
            transform: translateY(0);
            max-height: 100vh;
        }
    }
    li {
        margin-left: 0 !important;
    }
}

nav li a,
nav li,
.navbar-link {
    color: $base-text-color;
    font-weight: 500;
    //   font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    letter-spacing: 0.02ch;
}

.navbar-link {
    font-size: clamp(0.6rem, calc(0.2rem + 0.8vw), 1.2rem);
    // margin: 0 0.2em;
    padding: 0.8em min(2vw, 1.5em) 0.65em;

    text-transform: uppercase;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
    &:hover,
    &:focus-within {
        background-color: darken($main-yellow, 3);
    }
}
