header {    

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2em;
    box-sizing: border-box;
    align-items: flex-start;
    .logo {
        position: absolute !important;
        margin-top: 0.5em;
        min-width: 90px;
        width: 12vw;
        max-width: 120px;
        height: auto;
        // min-height: 90px;
        // height: 12vw;
        // max-height: 130px;
    }
    a {
        color: inherit;
        text-decoration: unset;
    }
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    &:hover,
    &:focus-within,
    &.filled {
        background-color: $main-yellow;
        * {
            color: $main-white;

        }
        .dropdown-content {
            background-color: $main-yellow;

        }
    }
}

.dropdown {
    label {
        cursor: pointer;
    }
    input[type="checkbox"] {
        width: 0;
        height: 0;
        position: absolute;
        top: -9999px;
    }
    .dropdown-content {
        z-index: 50;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        display: block;
        // margin: 0.5em 0 0;
        // transform: translateY(-500px);
        // transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    }
    .dropdown-content li {
        z-index: 50;

        width: min-content;
        min-width: 100%;
        padding: 0.7em 1em;
        margin: 0;
        // text-align: center;
        // margin: auto;
    }
    // &:focus-within .dropdown-content,
    label:hover ~ .dropdown-content,
    .dropdown-content:hover {
        visibility: visible;

        opacity: 1;
    }
    // input[type="checkbox"]:checked ~ .dropdown-content {
    //     // transform: translateY(0);
    // }
}

header nav {
    padding-left: 180px;
 ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;

    padding: 0;
    margin: 0;

    list-style: none;
    li {
        display: block;
        &::marker {
            display: none;
        }
    }
}
}
nav li a,
nav li,
.navbar-link {
  color: $base-text-color;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

.navbar-link {
  // margin: 0 0.2em;
  padding: 1em;

  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;
  &:hover, &:focus-within {
    background-color: darken($main-yellow, 5);
  }
}

