.map-wrapper {
  display: grid;
  grid-template-areas:
    'map map'
    'years projekty';
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 200px 1fr;
  // @include  flexGap(3em,  $column: true);
  gap: 3em;
  max-width: 1300px;
  margin: 0 auto;
  padding: 2em;
  @media (max-width: 900px) {
    grid-template-areas:
      'map map'
      'projekty projekty';
  }
  .map {
    grid-area: map;
  }
  .year-wrapper {
    grid-area: years;
    @media (max-width: 900px) {
      display: none !important;
    }
  }
  .map-projekty-wrapper {
    grid-area: projekty;
  }
}

.map-projekty-wrapper {
  display: flex;
  flex-direction: column;
  @include  flexGap(1.5em,  $column: true);
  align-items: flex-start;
}

.map {
  width: 100%;
  max-width: 1000px;
  height: 500px;

  margin: 0.3em auto 0;
}

.year-highlight {
  .highlight {
    width: 100%;
    height: 1.8em;
    background-color: $main-yellow;
    transform: translateY(calc((var(--offset) * 2em) + 2em));
    transition: transform 0.5s ease-in-out;

    --offset: 0;
  }
}
.year-list {
  display: flex;

  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 2em 0;
  & > * + * {
    margin-top: 0.1em;
  }
  button {
    width: 100%;
    font-weight: 650;
    font-size: 1.5em;
    text-align: center;
    &.selected {
      background-color: gray;
    }
  }
}

.map-projekty {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;

  & > * + * {
    margin-top: 1em;
  }

  .year-seperator {
    position: sticky;
    top: 0;

    width: 100%;

    padding: 0.5em 1em;

    font-weight: 700;
    text-align: center;
    background-color: $main-yellow;
  }

  .projekt {
  }
}

.projekt-title-button {
  padding: 0;
  cursor: pointer;
  &:hover {
    color: lighten($base-text-color, 20);
  }
  .projekt-title {
    margin: 0;
    font-size: 1.4em;
  }
}

.kouskovani-icon::before {
  padding: 0.2em 0.4em;
  color: white;
  font-weight: 800;
  font-size: 0.8em;
  background-color: hsl(351deg 98% 37%);
  border-radius: 5px;
  content: 'K';
}
.money {
  margin: 0 0 1em;
  color: $main-text-red;
  font-weight: 700;
  font-size: 1.2em;
  font-style: italic;
  @include Cavolini;
}
