nav li a,
nav li,
.navbar-link {
  color: $base-text-color;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}

nav li,
.navbar-link {
  margin: 0 0.2em;
  padding: 1em;

  text-transform: uppercase;
}
