.projekty {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    max-width: 1000px;
  
    @include  flexGap(2em,  $column: false);
    padding: 1em 0;
    margin: 0 auto;
    flex: 1 0 auto;
    align-items: stretch;
    width: 100%;
    @media (max-width: 800px) {
      @include  flexGap(2em,  $column: true);

      flex-direction: column;
      align-items: center;
    }
}
  

.projekt-link {
    width: 100%;
    @media (max-width: 800px) {
      width: max(70%, min(90vw, 250px));
    }

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  font-size: 1.2rem;

  background-color: rgba(36, 57, 65, 0.1);
  border: $main-yellow 8px solid;
  border-radius: 4px;

  .img {
    width: 100%;
    height: auto;
    max-height: 15vw;
    @media (max-width: 800px) {
      max-height: 20vw;
    }
    justify-self: center;
    transition: transform  0.6s cubic-bezier(0.07, 0.53, 0.18, 0.75), clip-path 0.6s cubic-bezier(0.07, 0.53, 0.18, 0.75);
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);

    // margin: 1em;
  }
  
    &:hover {
      text-decoration: none;
      .img {
        $scale: 1.2;
        transform: scale(1.2);
        // $zero: 0%;
        // $hundred: 100%;
        $clip-scale: (($scale - 1) * 0.44) + 1;
        $zero: 100 - (100 / $clip-scale) * 1%;
        $hundred: (100 / $clip-scale)  * 1%;
        clip-path: polygon($zero $zero, $zero  $hundred,  $hundred $hundred ,  $hundred $zero);
      }
    }
  &.klinika .img {
    margin: auto 0;
  }
  &.klinika:hover .img {
    margin: auto 0;
    $scale: 1.2;
    transform: scale(1.2);
    // $zero: 0%;
    // $hundred: 100%;
    $clip-scale: (($scale - 1) * 0.44) + 1;
    $zero: 100 - (100 / $clip-scale) * 1%;
    $hundred: (100 / $clip-scale)  * 1%;
    clip-path: polygon($zero $zero, $zero  100%,  $hundred 100% ,  $hundred $zero);
  }


  h3, h2,
  .title {
      justify-self: flex-end;
    width: 100%;
    padding: 0.7em 0 0.5em;
    margin: 0;

    color: $main-black;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;

    background-color: $main-yellow;
  }
}
