.section {
  width: 100%;
  padding: 8vw 4vw 5vw;

  p {
    width: auto;
    max-width: min( 90vw, 70ch);
  }
  .subtitle,
  .section-subtitle {
    margin-top: 0.3em;
    margin-bottom: 0;
    max-width: 100%;

    @include Cavolini;
    font-style: italic;

    font-weight: 550;
    font-size: 1.3em;
    color: $main-text-red;
  }
  .section-text {
    margin-top: 2.3em;
  }
  .section-text + .section-text {
    margin-top: 0.7em;
  }
  .button {
    margin-top: 1em;
    display: inline-block; // prevents collapsing margin
  }

  .button-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    @include  flexGap(2em,  $column: false);
    @media (max-width: 40rem) {
      flex-direction: column;
      @include  flexGap(0.3em,  $column: true);
    }
  }
}

.section-title,
.section .title,
section .title {
  margin: 0 0;
  font-size: 2.3rem;
  text-transform: uppercase;
  font-size: clamp(1.8rem, 1rem + 2vw, 2.6rem);
  text-transform: uppercase;
  font-weight: 750;
}

.section-text,
.text-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;

  &.right-align {
    align-items: flex-end;
    .text,
    p,
    .section-text {
      text-align: right;
    }
    @media (max-width: 900px) {
      align-items: center;
      .text,
      p,
      .section-text {
        text-align: left;
      }
    }
  }

  &.light {
    color: $text-white;
    .title,
    .section-title,
    .text,
    p,
    h1,
    h2,
    h3 {
      color: $text-white;
    }
  }
}

.section-centered,
.section-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    text-align: center;
  }
}

.section {
  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    @include  flexGap(2em,  $column: false);
    flex: 1 0 auto;
    
    & > * {
      width: 100%;
    }
    @media screen and (max-width: 1000px) {
      flex-direction: column;
      @include  flexGap(2em,  $column: true);
    }
  }
}

.image-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @include  flexGap(2em,  $column: false);
  .img, img, .section-image {
    width: 60%;
  }
  @media (max-width: 800px) {
    flex-direction: column;
    .img, img, .section-image {
    //  align-self: flex-end;
    // display: none !important;
    }
    
  }
}

.section.yellow {
  background-color: $main-yellow;
}