.hero {
  min-height: 20vw;
}
.hero-title {
  font-size: clamp(1.5rem, calc(1rem + 3vw), 3rem);
  text-align: center;
  place-self: center;
}

.aktualne-podporujeme {
  padding: 2em 2em;
  .title {
    width: max-content;
    max-width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 0.5em;
  }
}

section.intro-section {
  @include  flexGap(1em,  $column: true);
  // .subtitle {
  //   font-size: 2em;
  // }
  padding: 0 0 2em;
  // background-color: $main-yellow;
  // font-size: clamp(0.5rem, calc(0.2rem + 1.5vw), 1rem);
  h1.title {
    font-weight: 800;
    text-align: center;
    @media (max-width: 900px) {
      text-align: left;
    }
    font-size: clamp(1rem, 0.5rem + 2vw, 2.6rem);

    line-height: 1.6em;
    color: $main-black;

    padding: 0.6em 1em 0;
    margin: 2em auto 0;
    max-width: 60ch;
  }

  ul.claims {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include  flexGap(5em,  $column: true);
    padding-left: 0;
    padding: 0 1em;
    margin: 8em auto 0;
  }
  .icon-wrapper {
    // margin-left: 7em;
    @media (max-width: 780px) {
      margin-left: 0;
    }
    text-align: right;
    align-self: flex-start;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "img ."
      " img header"
      " img text"
      "img .";
    place-items: start start;
    // column-@include  flexGap(3em,  $column: true);
    column-gap: 1em;
    .img {
      grid-area: img;
    }
    .top-text {
      grid-area: header;
    }
    div.top-text {
      display: flex;
      flex-direction: row;
      // align-items: baseline;
      align-items: center;
      @include  flexGap(1ch,  $column: false);
    }
    .link {
      grid-area: text;
    }
  }

  .img {
    width: 8vw;
    min-width: 60px;
    margin-right: 0.5em;
    height: 5vw;
    min-height: 60px;
    &.svg {
      fill: $main-black;
      // stroke: $main-black;
    }
    &.photo {
      outline: solid $main-yellow 1em;
      background-color: $main-yellow;
    }
  }

  p.title {
    font-size: 2em;
    text-align: left;
  }
  font-size: clamp(0.7rem, calc(0.2rem + 1.5vw), 1rem);
  .claims p.title {
    font-weight: 500 !important;
    font-size: 1.5em;
    text-transform: none;
  }

  a,
  .link {
    @include Cavolini;
    font-style: italic;
    font-size: 1.2em;

    text-align: left;
    margin-top: 0.05em;
    font-weight: 600;
    display: block;
    color: $main-text-red;
    &:hover {
      text-decoration: underline;
    }
  }
  & > * + * {
    margin-top: 5em;
  }
}

section.subtitle {
  padding-top: 6em;
  align-items: center;
  text-align: center;
  padding-bottom: 0;
  .subtitle {
    margin: 0 auto;
    font-size: 1.8em;
  }
}

.cisla-infographic {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  @include  flexGap(3em,  $column: false);
  flex-grow: 1;
  flex-basis: auto;

  margin: 0;

  // margin-top: 4em;
  margin-bottom: 2em;

  padding: 0;
  width: 100%;
  font-size: clamp(0.8rem, calc(0.3rem + 1.5vw), 1rem);
  max-width: 30em;
  // background-color: white;
  li.cislo.people {
    margin-top: -0.3em;
  }
  li.cislo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // @include  flexGap(,  $column: true);
    .img {
      color: $main-text-red;
      fill: $main-text-red;
      $width: 2.7em;
      width: $width;
      &.people {
        width: $width * 3/2.7;
      }
      height: auto;
    }
    p {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      // margin-top: -0.5em;
      font-weight: 500;
      color: $main-black;
      // @include  flexGap(,  $column: true);
    }
    .cislo {
      font-size: 3em;
      text-transform: uppercase;
      font-weight: 700;
      // color: $main-black;
      line-height: 1em;
    }
  }
}

section.call-to-action {
  padding-top: 6vw;
  background-color: $main-yellow;
  .title {
    text-align: center;
  }
  .subtitle {
    margin: 0.5em 0 0;
  }
}

section.aktuality {
  .section-title {
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
  }
}

.galavecer-overlay {
  background-image: linear-gradient(135deg, rgb(165 165 165 / 78%), rgb(187 187 187 / 13%));
  @media (max-width: 1300px) {
    background-image: linear-gradient(135deg, rgb(160 160 160 / 90%), rgb(187 187 187 / 42%));
  }
}

section.galavecer {
  // background-image: url("../images/sako_final.jpg");
  // @media (max-width: 1300px) {
  //   background-image: url("../images/sako_final.jpg"), linear-gradient(
  //     135deg, rgb(100  100  100  / 78%), rgb(187 187 187 / 13%));
  // }
  // @media (max-width: 800px) {
  //   .section-title {
  //     color: white;
  //   }
  //   background-image: url("../images/sako_final.jpg"),linear-gradient(to bottom, rgba(220, 220, 220, 0.8), rgb(140 140 140 / 62%));;
  // }
  // background-blend-mode: multiply;
  // background-repeat: no-repeat;
  // background-position: right top;
  // background-size: cover;
  // filter: brightness(0.4);
  .text {
    color: $main-white;
  }
}

section.aktuality {
  padding: 2em 0;
  .flex-end {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    // pad: 0  0 0;
    .link {
      font-weight: 600;
      font-size: 1.5em;
      margin-right: 90px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

section#o-nadaci,
section.o-nadaci {
  align-items: center;
  .title {
    margin-bottom: 1.3em;
  }
  p,
  .text {
    text-align: justify;
    @media (max-width: 678px) {
      text-align-last: left;
    }
  }
  .button {
    display: block;
    width: max-content;
  }
}

section.sponzori {
  background-color: $light-gray-background;
  .title {
    margin-bottom: 2em;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  .flex-row {
    align-items: center;
    justify-content: center;
    // @include  flexGap(8vw,  $column: false);
    & > * {
      width: max-content;
      max-width: 100%;
    }
  }
}

.section-projekty {
  .title, .subtitle {
    margin: 0 auto;
    text-align: center;
  }
  .subtitle {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
  }
}