.hero {
  min-height: 20vw;
}
.hero-title {
  font-size: clamp(1.5rem, calc(1rem + 3vw), 3rem);
  text-align: center;
  place-self: center;
}

.aktualne-podporujeme {
  padding: 2em 2em;
  .title {
    width: max-content;
    max-width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: .5em;
  }
}


section.intro-section {
  gap: 1em;
  // .subtitle {
  //   font-size: 2em;
  // }
  padding: 0 0 2em;
    // background-color: $main-yellow;
  h1.title {
    font-weight: 800;
    text-align: center ;
    @media (max-width: 900px) {
      text-align: left;
    }
    font-size: clamp(1.8rem, 1rem + 2vw, 2.6rem);

    line-height: 1.6em;
    color: $main-black;
    
    padding: .6em 1em 0;
    margin: 2em auto 0;
    max-width: 60ch;

  }
  

  ul.claims {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3em;
    padding-left: 0;
    padding: 0 .3em;
    margin: 3em auto 0;
  }
  .icon-wrapper {
    margin-left: 7em;
    @media (max-width: 780px) {
      margin-left: 0;
      
    }
    text-align: right;
    align-self: flex-start;
    display: grid;
    grid-template-columns:  auto 1fr;
    grid-template-rows:auto auto auto auto;
    grid-template-areas: 
    'img .'
    ' img header'
    ' img text'
    'img .';
    place-items: start start;
    // column-gap: 3em;
    column-gap: 1em;
    .img {
      grid-area: img;
    }
    .title {
      grid-area: header;
    }
    .link, a {
      grid-area: text;
    }
  }

  .img {
    width: 8vw;
    min-width: 60px;
    margin-right: .5em;
    height: 5vw;
    min-height: 60px;
    &.svg {
      fill: $main-black;
      // stroke: $main-black;
    }
    &.photo {
      outline: solid $main-yellow 1em;
      background-color: $main-yellow;
    }
  }
  p.title {
    font-size: 2em;
    text-align: left;
  }
  .claims p.title
  {
    font-size: 1.6em;
    text-transform: none;
  }
  
  a, .link {
    text-align: left;
    font-size: 1.15em;
    margin-top: .3em;
    font-weight: 600;
    display: block;
    color: $main-red;
    &:hover {
      text-decoration: underline;
    }
  }
  & > * + * {
     margin-top: 5em;
  }
}

section.aktuality {
  .section-title {
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
  }
}


section.galavecer {
  background-image: url("../images/sako_final.jpg");
  @media (max-width: 1300px) {
    background-image: url("../images/sako_final.jpg"), linear-gradient(
      135deg, rgb(100  100  100  / 78%), rgb(187 187 187 / 13%));
  }
  @media (max-width: 800px) {
    .section-title {
      color: white;
    }
    background-image: url("../images/sako_final.jpg"),linear-gradient(to bottom, rgba(220, 220, 220, 0.8), rgb(140 140 140 / 62%));;
  }
  background-blend-mode: multiply;
  // background-image: url('../images/sako.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  // filter: brightness(0.4);
  .text {
    color: $main-white;
  }
}

section.aktuality {
  padding: 2em 0;
}

section.call-to-action {
  background-color: $main-yellow;
  .title {
    text-align: center;
  }
}

.cisla-infographic {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 3em;
  flex-grow: 1;
  flex-basis: auto;

  margin: 0;
  
  // margin-top: 4em;

  padding: 0;
  width: 100%;
  font-size: 1.2rem;
  max-width: 30em;
  // background-color: white;
  li.cislo.people {
    margin-top: -0.3em;
  }
  li.cislo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: ;
    .img {
      color: $main-red;
      fill: $main-red;
      $width: 2.7em;
      width: $width;
      &.people {
        width: $width * 3/2.7;
      }
      height: auto;
    }
    p {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      // margin-top: -0.5em;
      font-weight: 500;
      color: $main-black;
      // gap: ;
    }
    .cislo {
      font-size: 3em;
      text-transform: uppercase;
      font-weight: 700;
      // color: $main-black;
      line-height: 1em;
    }
  }
}

section#o-nadaci,
section.o-nadaci {
  align-items: center;
  .title {
    margin-bottom: 1.3em;
  }
  p,
  .text {
    text-align: justify;
  }
  .button {
    display: block;
    width: max-content;
  }
}

section.sponzori {
  background-color: $light-gray-background;
  .title {
    margin-bottom: 2em;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  .flex-row {
    align-items: center;
    justify-content: center;
    gap: 8vw;
    & > * {
      width: max-content;
      max-width: 100%;
    }
  }
}
