.hero {
  min-height: 20vw;
}
.hero-title {
  font-size: clamp(1.5rem, calc(1rem + 3vw), 3rem);
  text-align: center;
  place-self: center;
}

.aktualne-podporujeme {
  padding: 2em 2em;
  .title {
    width: max-content;
    max-width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 2em;
  }
}




section.aktuality {
  .section-title {
    width: max-content;
    max-width: 100%;
    margin: 0 auto;
  }
}

section.kouskovani {
}

section.galavecer {
  background-image: url('../images/sako_chlap_bw.jpg');
  // background-image: url('../images/sako.jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  // filter: brightness(0.4);
  .text {
    color: $main-white;
  }
}

section.aktuality {
  padding: 2em 0;
}

section.call-to-action {
  background-color: $main-yellow;
  .title {
    text-align: center;
  }
}

section#o-nadaci,
section.o-nadaci {
  align-items: center;
  .title {
    margin-bottom: 1.3em;
  }
  p, .text {
    text-align: justify;
  }
  .button {
    display: block;
    width: max-content;
  }
}

section.sponzori {
  background-color: $light-gray-background;
  .title {
    margin-bottom: 2em;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  .flex-row{
    align-items: center;
    justify-content: center;
    gap: 8vw;
    &>*{
      width: max-content;
      max-width: 100%;
    }

  }
}