main.kontakt {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  padding: 4em 1em;
  font-size: 1rem;

  * {
    margin: 0;
    padding: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  a,
  .link {
    &:not(.inline) {
      display: block;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  div.kontakt {
    margin: 0 auto;
  }
  .adresa-wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto;
    gap: 1em 0.5em;
    margin-top: 0.5em;
    font-size: 1.2em;
    :not(.left) {
      grid-column: -1 / span 1;
    }
    .left {
      grid-column: 1 / span 1;
      color: $main-black;
      font-weight: 700;
      place-self: start end;nd
      svg {
        width: 30px;
        height: auto;
        fill: $main-black;
      }
    }
  }


  section.text {
    padding: 3em 1em 0;
    p {
      font-size: 1.3em;
      text-align: justify;
      max-width: 65ch;
      &+p {
        margin-top: 2em;
      }
    }
  }


  .lidi {
    display: flex;
    flex-direction: row;
    gap: 4em;
    align-items: flex-start;
    margin: 7em auto 5em;
    padding: 2em;
    & > * {
      flex: 0 0 0;
      width: 100%;
    }
    @media (max-width: 800px) {
      flex-direction: column;
      margin-top: 5em;
      padding: 0;
    }
  }
  .popis {
    margin-bottom: 0.5em;
    font-weight: 300;
    text-transform: uppercase;
  }

  ul.rady {
    display: flex;
    flex-direction: row;
    gap: 15vw;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-top: 3em;
    @media (max-width: 800px) {
      flex-direction: column;
      gap: 3em;
      width: max-content;
    }
    li {
      h2 {
        margin-bottom: 1em;
      }
      ul {
        li {
          font-weight: 600;
          span.titul {
            font-weight: 400;
          }
        }
        li + li {
          margin-top: 0.5em;
        }
      }
    }
  }
}
