main.kontakt {
  display: flex;
  flex-direction: column;
  @include flexGap(1em, $column: true);
  align-items: center;
  padding: 4em 1em;
  font-size: 1rem;

  * {
    margin: 0;
    padding: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  a,
  .link {
    &:not(.inline) {
      display: block;
    }
    &:hover {
      filter: brightness(0.9);
  }
  text-decoration: underline;
  }
  div.kontakt {
    // margin: 0 auto;
  }
  .adresa-wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr auto;
    gap: 1em 0.5em;
    margin-top: 0.5em;
    font-size: 1.2em;
    :not(.left) {
      grid-column: -1 / span 1;
    }
    .left {
      grid-column: 1 / span 1;
      color: $main-black;
      font-weight: 700;
      place-self: start end;
      nd svg {
        width: 30px;
        height: auto;
        fill: $main-black;
      }
    }
  }

  section.text {
    padding: 3em 1em 0;
    p {
      font-size: clamp(1rem, 0.5rem + 1.3vw, 1.5rem);
      text-align: justify;
      max-width: 65ch;
      & + p {
        margin-top: 2em;
      }
    }
  }

  .lidi {
    max-width: 100vw;

    display: flex;
    flex-direction: row;
    @include flexGap(4em, $column: false);
    align-items: flex-start;
    margin: 7em 0 5em !important;
    padding: 2em;
    & > * {
      flex: 0 0 0;
      width: 100%;
    }
    @media (max-width: 800px) {
      flex-direction: column;
      @include flexGap(4em, $column: true);
      margin-top: 5em;
      padding: 0;
      word-break: break-word;

    }
  }
  .popis {
    margin-bottom: 0.5em;
    font-weight: 300;
    text-transform: uppercase;
  }

  ul.rady {
    display: flex;
    flex-direction: row;
    @include flexGap(15vw, $column: false);
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin-top: 7em !important;
    @media (max-width: 800px) {
      flex-direction: column;
      @include flexGap(3em, $column: true);
      width: max-content;
    }
    li {
      h2 {
        margin-bottom: 1em;
      }
      ul {
        li {
          font-weight: 600;
          span.titul {
            font-weight: 400;
          }
        }
        li + li {
          margin-top: 0.5em;
        }
      }
    }
  }
}

main.kontakt .flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: space-around;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

main.kontakt #map {
  width: 300px;
  height: 200px;
  max-width: 90vw;
  margin: 2em ;
}
