main.o-nadaci {
    .img {
        margin: 0 auto;
        max-width: 60em;
        border-radius: 2px;
        margin: 2em 0;
    }
    section.hero {
        min-height: 0;
        background-color: $main-yellow;
    }

    .section {
        align-items: center;
        .text {
            max-width: 60ch;
            line-height: 1.7em;
            text-align: justify;
            @media (max-width: 678px) {
                text-align: left;
              }
        }
        *+.text {
            margin-top: 1.6em;
        }
    }


  .hero-title {
      margin: 0;
    padding: 3em 0 2em;
    text-align: center;
    text-transform: uppercase;
  }

  ul {
    // list-style-type: none;

    li {
        font-size: 1.1em;
    }
    li+li {
        margin-top: .5em;
    }
    li::marker {
        color: $main-black;
        font-size: 1.1em;
    }
    
  }

  .section .title {
      margin-bottom: 1em;
  }
  ul.roky {
      max-width: 60ch;
      li, li::marker {
          text-align: justify;
        //   color: $main-white;
      }
      padding-top: 2em;
      padding-bottom: 2em;
      padding-right: 1em;
      background-color: $light-gray-background;
      border-radius: 2px;
  }
}

section.images {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    @include  flexGap(2em,  $column: false);
    padding: 0;
}
