section#zahrada {
  background-image: url('../images/paprika_hor.png');
  background-repeat: no-repeat;
  background-position: left 60%;
  background-size: 30%;
}

.map-section {
  .title {
    text-align: center;
    margin: 0 auto;
  }
}