main.zadat {
  section.main-section {
    display: flex;
    flex-direction: column;
    @include  flexGap(2em,  $column: true);
    align-items: center;
    justify-content: space-around;

    padding-top: 8em;

    .subtitle {
      font-size: 1.5em;
    }
  }

  section.dalsi-info {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    .title {
      font-size: 1.2em;
    }

    a {
      display: block;
    }
    p > a {
      display: inline;
    }

    li {
      p,
      a,
      h2 {
        margin: 0;
      }
      h2 {
        margin-bottom: 1em;
      }
      p + p,
      p + a,
      a + p,
      a + a {
        margin-top: 0.7em;
      }
      .name {
        font-weight: 600;
        font-size: 1.2em;
        & + p {
          margin-top: 0.2em;
        }
      }
    }
  }
}
