main.ivy {
  height: 500vh;

  svg {
    margin-left: 1vw;
  }
}

.leaf {
  position: relative;
  z-index: 50;
  width: 5vw;
  transform: rotate(-20deg);
  visibility: hidden;
  margin: 0;
  img {
      width: 100%;
      height: auto;
  }
}

.leaf-animation {
    visibility: visible;
    animation: forwards leaf-appear 1s;
}

@keyframes leaf-appear {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }

    10% {
        transform: scale(0.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}





/* ---------------------------- leaf positioning ---------------------------- */
#leaf-0 {
  top: 80px;
  width: 8vw;
  transform: rotate(-45deg);
}

#leaf-1 {
  top: 180px;
  left: -100px;
  transform: rotate(45deg);
}

#leaf-2 {
  top: 250px;
  left: -124px;
  transform: rotate(-65deg);
}

#leaf-3 {
  top: 370px;
  left: -170px;
  width: 10vw;
  transform: rotate(-35deg);
}

#leaf-4 {
  top: 520px;
  left: -270px;
  width: 9vw;
  transform: rotate(57deg);
}

#leaf-5 {
  top: 640px;
  left: -320px;
  width: 7vw;
  transform: rotate(326deg);
}

#leaf-6 {
  top: 780px;
  left: -380px;
  width: 9vw;
  transform: rotate(57deg);
}

#leaf-7 {
  top: 884px;
  left: -380px;
  width: 11vw;
  transform: rotate(289deg);
}

#leaf-8 {
  top: 1050px;
  left: -470px;
  width: 9vw;
  transform: rotate(57deg);
}

#leaf-9 {
  top: 1220px;
  left: -380px;
  width: 14vw;
  transform: rotate(287deg);
}

#leaf-10 {
  top: 520px;
  left: -270px;
  width: 9vw;
  transform: rotate(57deg);
}
