body {
    font-family: "Montserrat", sans-serif !important;
    color: $base-text-color;
}

h1 {
    font-size: 2.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    color: $main-black; 
}

p,
a,
li,
label {
    font-weight: 300;
    line-height: 1.5;
    font-weight: 400;
    color: $base-text-color;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    // overflow-y: scroll;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

button {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
}

label {
    display: block;
}

nav > ul > li + li {
    margin-left: .5em;   
}

.title-centered {
    width: max-content;
    margin: 0 auto;
}

*::-webkit-scrollbar {
    width: .4em;
    background-color: lightgray;
}

*::-webkit-scrollbar-thumb {
    background-color: $gray;
    border-radius: 10000px;
}

.text-center {
    text-align: center;
}

.inline {
    display: inline;
}

p.text.bigger {
    font-size: 1.5em;
}

p.text.green, p.green, .subtitle.green {
    color: $main-green !important;
}