@font-face {
    font-family: 'Cavolini';
    src: url('../../font/CAVOLINI.woff') format('.woff');
    font-display: swap;
}
@font-face {
    font-family: 'Cavolini';
    font-weight: bold;
    src: url('../../font/CAVOLINIBOLD.woff') format('.woff');
    font-display: swap;
}
@font-face {
    font-family: 'Cavolini';
    font-style: italic;
    src: url('../../font/CAVOLINIITALIC.woff') format('.woff');
    font-display: swap;
}
@font-face {
    font-family: 'Cavolini';
    font-style: italic;
    font-weight: bold;
    src: url('../../font/CAVOLINIBOLDITALIC.woff') format('.woff');
    font-display: swap;
}

@mixin Cavolini {
    font-family: Cavolini, sans-serif;
}


@import "./variables.scss";
@import "./global.scss";

@import "./components/header.scss";
// @import "./components/navbar-link.scss";
@import "./components/button.scss";
@import "./components/section.scss";
@import "./components/aktualita.scss";
@import "./components/map.scss";
@import "./components/footer.scss";
@import "./components/projekt-link.scss";

@import "./pages/index.scss";
@import "./pages/projekty.scss";
@import "./pages/404.scss";
@import "./pages/zahrada.scss";
@import "./pages/zadat.scss";
@import "./pages/o-nadaci.scss";
@import "./pages/aktuality.scss";
@import "./pages/kontakt.scss";
@import "./pages/kouskovani.scss";
@import "./pages/ke-stazeni.scss";
