$base-text-color: #1f1f1f;
$background-color-white: #f3f3f3;
$light-gray-background: $background-color-white;

$box-shadow: 2px 2px 12px 0px rgb(80 80 80 / 20%);

$main-yellow: #ffad00;
$main-red: #e74f28;
$main-green: #118a07;
$logo-black: #19282d;
$main-black: lighten($logo-black, 6);

$main-text-red: darken($main-red, 7);

$main-white: white;
$text-white: white;

$gray: rgb(128, 128, 128);

$light-gray-background: #e8e8e8;

@mixin  flexGap($value,  $column: false) {
    @if $column {
        &>*+* {
            margin-left: 0 !important;
            margin-top: $value !important;
        }
    } @else {
        &>*+* {
            margin-top: 0 !important;
            margin-left: $value !important;
        }
    }
}